/* Language: css */
:root{
    --white: #fff;
    --black: #000;
    --dark-purple : #322780;
    --light-purple: #EAE7FF;

}
body{
    background-color: var(--white);
    font-family: 'Inter', sans-serif;
}

header{
    width: 33%;
    margin: 0% 33% 0% 33%;
}
a{
    text-decoration: none;
}
.user{
    color: var(--black);
    display : flex;
    float: right;
}

.pantry-container{
    margin : 0 0 0 3%;
}

.pantry-container .log-in-message{
    color: var(--black)
}

.pantry-container .home h1{
    color: var(--dark-purple);
}

.pantry-container .pantry div{
    float: left;
    color: var(--dark-purple);
}

.pantry-container .pantry .food-list-amount{
    background-color: var(--dark-purple);
    color: var(--white);
    margin: 0px 5px 0px 5px;
    border-radius: 4px;
    font-size: 12px;
    padding: 3px;
}

.pantry-container .food-list{
    overflow: hidden;
    min-width: 400px;
    width: 75%;
    height : 50px;
    border-radius: 8px;
    color: var(--dark-purple);
    background-color: var(--light-purple);
    padding: 10px 10px 10px 0px;
}

.pantry-tag {
    
    position: relative;
    left: 0px;
    height: 170%;
    width: 12px;
    border-radius: 20px 0px 0px 20px;
    float: left;
    margin-top: -10px;
  }

  #item_pertama .pantry-tag {
    background-color: var(--dark-purple);
  }
  
.pantry-container .food-list .upper{
    font-weight: bolder;
    font-size: 25px;
}

.pantry-container .food-list .left{
    float: left;
    margin: 0px 10px 10px 5px;
}

.pantry-container .food-list .right{
    float: right;
}

.tips-and-tricks{
    margin: 2% 0 0 34%;
    min-width: 900px;
}

.tips-and-tricks .title{
    overflow: hidden;
    color : var(--dark-purple);
    font-weight: bold;
}

.tips-and-tricks .tips-list{
    width: 47%;
    box-shadow: 3px 4px 10px grey;
    background-color: var(--white);
    color: var(--black);
    border-radius: 5px;
    padding: 0 0 1px 0;
}

.tips-and-tricks img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.tips-and-tricks .tips-list .tips-text{
    margin: 0 3% 0 3%;
    text-align: justify;
}

.navbar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: var(--white);
    box-shadow: 0px -2px 0px rgba(0, 0, 0, 0.1);
}

.navbar a {
    text-decoration: none;
    float: left;
    display: block;
    padding: 0px 20px 0px 20px;
}

/* Style of Food card*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
