/*
Stylesheet
Based on : https://www.figma.com/file/E7xTr2XOCWA3GCSWyPpykP/Project-Milestone-1-Kel-3-SPARTA
*/

header {
    height: 250px;
}

body {
    margin: auto;
    font-family: 'Inter', sans-serif;
    max-width: 480px;
    background-color:#ffffff;
}

.login{
    margin: 20px;
    background: linear-gradient(281.6deg, rgba(50, 39, 128, 0.9) 20.68%, rgba(138, 116, 252, 0.9) 89.58%), url("../assets/gambar2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.title{
    display: flex;
    margin: 0 auto;
    padding: 2px;
    color: #ffffff;
}

.title img{
    margin-right: 5px;
}

.sub-title{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    color: #ffffff;
}

.content{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.form{
    border-radius: 25px;
    background: #ffffff;
    height: 500px;
    padding:  20px;
}

.form .button-active{
    background: #322780;
    border: 1px solid #B7B6B6;
    border-radius: 10px;
    color: #ffffff;
    float: left;
    padding: 15px;
    font-weight: 700;
}

.form .button-non-active{
    background: #FFFFFF;
    border: 1px solid #B7B6B6;
    border-radius: 10px;
    color: #4B428B;
    float:left;
    padding: 15px;
    font-weight: 700;
}

.form .main-form{
    padding-top: 120px;
}

.form .main-form .form-input{
    background: rgba(217, 217, 217, 0.4);
    border-radius: 10px;
    width: 302px;
    height: 45px;
    font-size: 20px;
}

/* Home Page CSS */

.user{
    padding: 10px;
    color: black;
    text-align: right;
}

.pantry-container{
    margin : 0 0 0 3%;
}
.pantry-container .home h1{
    color: #322780;
}

.pantry-container .pantry div{
    float: left;
    color: #322780;
}

.pantry-container .pantry .food-list-amount{
    background-color: #322780;
    margin: 0px 5px 0px 5px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    padding: 3px;
    color: white;
}

.pantry-container .food-list .upper{
    font-weight: bolder;
    font-size: 25px;
}

.pantry-container .food-list .left{
    float: left;
}

.pantry-container .food-list .right{
    float: right;
}

.pantry-container .food-list{
    width: 85%;
    height : 50px;
    border-radius: 8px;
    color: #322780;
    background-color: #EAE7FF;
    padding: 10px;
}

.tips-and-tricks{
    margin: 0;
}

.tips-and-tricks .title{
    color : #322780;
    font-weight: bold;
}

.tips-and-tricks .tips-list{
    width: 85%;
    box-shadow: black 1px solid;
    color: black;
    border-radius: 5px;
    padding: 0 0 1px 0;
    border: black 1px;
}

.tips-and-tricks img{
    border-radius: 5px;
    max-width: 100%;
}

.tips-and-tricks .tips-list h2{
    margin: 5%;
}

.tips-and-tricks .tips-list p{
    margin: 5%;
}